/* Fonts Import */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-heading {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-paragraph {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* * {
   margin: 0;
  padding: 0;
}  */

/* shared styles */
.heading {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}
.sub-heading{
    font-size: 3.1rem;
  font-weight: 700;
  margin: 0;
}

.paragraph {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0;
}
.color-grey {
  color: rgba(0, 0, 0, 0.5);
}

.color-orange {
  color: rgb(233, 90, 8);
}

.default-layout {
  /* padding: 0 9.3rem; */
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary{
  background: rgb(233, 90, 8);
  border: none;
  padding: 15px 0px;
  color: white;

}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 50px;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navbar .nav-right li,
a {
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);

  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

/* hero-page */
.hero {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
.hero-left {
  text-align: left;
  max-width: 570px;
}

/* our-plants section */

.plant-section-top{
  text-align: center;
  max-width: 888px;
  margin: 0 auto 50px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card img, button{
  width: 100%;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 35px;
  column-gap: 20px;
}

#card-special{
  margin-bottom: -10px;

}
.flower-plants{


  margin-top: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.flower-plants-right{
max-width: 540px;
}
.flower-plants img{

width: 100%;
}

.flower-plants-left {
  position: relative;        
  width: 100%;
  max-width: 500px;         
}


#badge{
  width: 280px;
  position: absolute;
  top: -130px;
  left: 300px;
 filter: drop-shadow(10px 0.8px 0px rgba(0, 0, 0, 0.25));
}

/* deals */

.deals{
  margin-top: 120px;
}

.deals-top{
    text-align: center;
  max-width: 888px;
  margin: 0 auto 80px;
}


.deals-grid{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2,215px);
  grid-template-areas: 
  'left right'
  'left2 right'
  ;
  gap: 10px;

  margin-bottom: 100px;
}

#left{
  background-image: url("../assets/deal-ana.png");
  width: 100%;
  background-size:cover;
  background-position: center;
  grid-area: left;
}
#left2{
    background-image: url("../assets/deal-bloom.png");
  background-size: cover;
  background-position: center;
  grid-area: left2;
}
#right{
    background-image: url("../assets/deal-zabo.png");
  background-size:cover;
  background-position: center;
  grid-area: right;
}

.promo-card{
  
  border-radius: 12px;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-overlay{
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  padding: 30px     ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-shop-now {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-weight: 500;
}


.discount {
  font-size: 3rem;
  font-weight: 700;
}
.special-discount{
    font-size: 2rem;
  font-weight: 500;
}

/* join us */
/* .joinus{
margin: 0;
padding: 0;
} */

.joinus-container{
background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), 
                  url("../assets/news-letter-bg.png");
  background-size:cover;
  width: 100%;
  background-position: center;
  text-align: center;
  color: white;
   padding: 10rem   1rem;
}

.joinus-form {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;

  background: white;
}
.joinus-form input {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 1rem;

}
.joinus-form button {
  background-color: #f26522;
  color: white;
  border: none;
  padding: 0 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 30%;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
  .sub-heading{
    font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

  .paragraph {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  .hero-right img {
    max-width: 100%;
  }

  .navbar .nav-right li:nth-child(1),
  .navbar .nav-right li:nth-child(2),
  .navbar .nav-right li:nth-child(3) {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .flower-plants{
    flex-direction: column;
  }

  .card-container{
  grid-template-columns: repeat(2,1fr);
}
#badge{
  display: none;
}

.deals-grid{
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  'left'
  'left2'
  'right'
  ;
  gap: 10px;
}

}
